#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    position: absolute;
    cursor: move;
    border: 1px solid black;
  }

  .box.selected {
    border-color: red;
  }